/*CSS Stylesheet */

body {height: 100%; margin: 0;}
ul, ol {list-style: none;}
.clearfix {clear: both;}

@font-face {
  font-family: 'Roboto';
  src: url ("/fonts/Roboto-Regular.ttf");
  src: url('/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/fonts/roboto-regular-webfont.woff') format('woff'),
         url('/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('/fonts/roboto-regular-webfont.svg#skyfallregular') format('svg');    
}

@font-face {
  font-family: 'Lemonmilk';
  src: url ("/fonts/LemonMilk.otf");
  src: url('/fonts/skyfall-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lemonmilk-webfont.woff2') format('woff2'),
         url('/fonts/lemonmilk-webfont.woff') format('woff'),
         url('/fonts/lemonmilk-webfont.ttf') format('truetype'),
         url('/fonts/lemonmilk-webfont.svg#skyfallregular') format('svg');    
}

@font-face {
  font-family: 'Skyfall';
  src: url ("/fonts/Skyfall.ttf");
  src: url('/fonts/skyfall-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/skyfall-webfont.woff2') format('woff2'),
         url('/fonts/skyfall-webfont.woff') format('woff'),
         url('/fonts/skyfall-webfont.ttf') format('truetype'),
         url('/fonts/skyfall-webfont.svg#skyfallregular') format('svg');    
}

body {
    font-size: 2.4em;
    text-align: center;
    font-family:"Roboto", sans-serif;
    margin: 0 auto;
}

.logo img {
    height: 35%;
    width: 35%;
    position: absolute;
    left: 0;
    top: -6%;
}

#section0 {
    background-image: url(images/textureBG.png);
    font-family: 'Roboto', sans-serif;
}

#countdown_dashboard {
	height: 200px;
}

.countDown {
display: flex;
display: -webkit-flex;    
justify-content: center;    
}

.dash {
	width: 150px;
	height: 150px;
	float: left;
	padding: 20px;
	position: relative;
    
}

.dash .digit {
	font-size: 70pt;
	font-weight: bold;
	float: left;
	width: 98px;
	text-align: center;
	font-family: 'Skyfall';
	color: #fff;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: -30px;
	font-size: 1.25em;
    font-family: 'Skyfall';
	color: #b34c3d;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.days_dash {
    width: 200px;
}

.hours_dash {
    width: 200px;
}

.minutes_dash {
    width: 200px;
}

.days_dash .digit {
	background: transparent url('images/orangeBG.png') 0 0 no-repeat;
    height: 145px;
}

.hours_dash .digit {
	background: transparent url('images/orangeBG.png') 0 0 no-repeat;
    height: 145px;
}

.minutes_dash .digit {
	background: transparent url('images/orangeBG.png') 0 0 no-repeat;
    height: 145px;
}

@media screen and (min-width : 600px) and (max-width : 720px) {
    .minutes_dash .digit {height: 100px; background: transparent url('images/orangeBGMed.png') 0 0 no-repeat;}
    .hours_dash .digit {height: 100px; background: transparent url('images/orangeBGMed.png') 0 0 no-repeat;}
    .days_dash .digit {height: 100px; background: transparent url('images/orangeBGMed.png') 0 0 no-repeat;}
    .dash .digit {width: 60px; font-size: 60px;}
    .minutes_dash {width: 100px;}
    .hours_dash {width: 100px;}
    .days_dash {width: 100px;}
    .dash {width: 150px; height: 75px;}
    .dash_title {bottom: -80px;}
}

@media screen and (min-width : 480px) and (max-width : 599px) {
    .minutes_dash .digit {height: 75px; background: transparent url('images/orangeBGSM.png') 0 0 no-repeat;}
    .hours_dash .digit {height: 75px; background: transparent url('images/orangeBGSM.png') 0 0 no-repeat;}
    .days_dash .digit {height: 75px; background: transparent url('images/orangeBGSM.png') 0 0 no-repeat;}
    .dash .digit {width: 50px; font-size: 50px;}
    .minutes_dash {width: 50px;}
    .hours_dash {width: 50px;}
    .days_dash {width: 50px;}
    .dash {width: 100px; height: 75px;}
    .dash_title {bottom: -30px; font-size: .75em;}
}

@media screen and (min-width : 320px) and (max-width : 479px) {
    .minutes_dash .digit {height: 49px; background: transparent url('images/orangeBGMobile.png') 0 0 no-repeat;}
    .hours_dash .digit {height: 49px; background: transparent url('images/orangeBGMobile.png') 0 0 no-repeat;}
    .days_dash .digit {height: 49px; background: transparent url('images/orangeBGMobile.png') 0 0 no-repeat;}
    .dash .digit {width: 35px; font-size: 30px;}
    .minutes_dash {width: 35px;}
    .hours_dash {width: 35px;}
    .days_dash {width: 35px;}
    .dash {width: 70px; height: 50px;}
    .dash_title {bottom: -20px; font-size: .5em;}
}




.quote {
    color: #b34c3d;
    position: relative;
    top: 90px;
    font-size: .5em;
}

#white {
    color: #fff;
}

.arrow img {
    height: 45px;
    width: 45px;
    position: relative;
    top: 140px;
}
